

<footer class="footer" th:fragment="footer">

    <section class="footer_container container">
        <nav class="nav nav--footer">
            <h2 class="footer_title">Sumaq</h2>

            <ul class="nav_link nav_link--footer">

                <li class="nav_items1">
                    <a href="#" class="nav_links">Nosotros</a>
                </li>
                <li class="nav_items1">
                    <a href="#" class="nav_links">Ofecemos</a>
                </li>
                <li class="nav_items1">
                    <a th:href="@{/Productos/admin}" class="nav_links">¿Eres Admin?</a>
                </li>
                <!-- <li class="nav_items1">
                    <a href="#" class="nav_links" th:href="@{/categoria}">Categoria</a>
                </li>
                <li class="nav_items1">
                    <a href="#" class="nav_links" th:href="@{/Productos}">Productos</a>
                </li>
                <li class="nav_items1">
                    <a th:href="@{/usuario/listar}" class="nav_links">Usuarios</a>
                </li> -->

            </ul>
        </nav>

    
    </section>

    <section class="footer_copy container">
        <div class="footer_social">
            <a href="https://www.instagram.com/sumaq.smaak/" target="_blank" class="footer_icons"><i
                    class="fa-brands fa-instagram footer-icon"></i></a>
            <a href="https://www.facebook.com/people/Sumaq/100086236074527/" target="_blank" class="footer_icons"><i
                    class="fa-brands fa-facebook footer-icon"></i></a>
            <a href="#" class="footer_icons"><i class="fa-brands fa-youtube footer-icon"></i></a>
        </div>

        <h3 class="footer_copyright">Derechos reservados &copy;</h3>
    </section>

</footer>