<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

</html>

<head>
	<meta charset="UTF-8">
	<title th:text="${TituloPagina}"></title>
	<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" href="/CSS/estilos.css">

</head>

<body>
	<header th:replace="layout :: header"></header>
	<div class="container">
		<div class="row pt-5">
			<div th:replace="Categoria/layout :: sidebar">
			</div>

			<div class="col-9">
				<h2 th:text="${titulo}"></h2>
				<br>

				<p th:text="${parrafo}"></p>

				<form th:action="@{/categoria/crear}" th:object="${categoria}" method="post">
					<input class="form-control w-50" name="nombre" id="nombre"
						placeholder="Ingresa el nombre de la categoria" th:field="*{nombre}">
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('nombre')}"
						th:errors="*{nombre}"></div>
					<br>
					<button type="submit" class="btn btn-primary" th:text="${btnForm}"></button>
				</form>
			</div>
		</div>
	</div>
	<script src="/JS/index.js" type="module"></script>
	<script src="5JS/menu.js"></script>
	<script src="/JS/search.js"></script>
	<script src="/JS/menu-scroll.js"></script>
	<script src="/bootstrap/jquery.slim.min.js"></script>
	<script src="/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>