<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${TituloPagina}"></title>
	<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" href="/CSS/productos.css">
	<link rel="stylesheet" href="/CSS/estilos.css">
	<link rel="stylesheet" href="/CSS/producto-vista.css">
</head>

<body>

	<header th:replace="/layout :: header"> </header>
    <main class="container">
        <div class="card-product">
            <div class="box-img">
                <img th:src="@{/UploadsImg/}+${urlImagen}" alt="">
            </div>
            <section>
                <p class="product-title" th:text="${nombre}"></p>
                <p class="product-desc" th:text="${descripcion}"></p>
                <div class="product-price">
                    <span>S/</span><span th:text="${precio}"></span>
                </div>
                <button id="btn-add-car" th:data-id="${id}"> Añadir al carrito</button>
            </section>
        </div>

    </main>
    <footer class="footer">
        <div class="logo-footer">
            <img src="/img/LogoSumaq.png" alt="" class="img-footer">
            <p>SUMAQ</p>
        </div>
        <p class="text">Siguenos en:</p>
        <div class="redes">
            <a href="https://www.facebook.com/profile.php?id=100086236074527" target="_blank" class="fb"><i
                    class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/sumaq.smaak/" target="_blank" class="in"><i
                    class="fab fa-instagram"></i></a>
            <a href="#" class="yt"><i class="fab fa-youtube"></i></a>
        </div>
        <p class="copyright">©2022 Creado por SUMAQ.</p>
    </footer>

    <script src="https://kit.fontawesome.com/0ab519a029.js" crossorigin="anonymous"></script>
	<script src="/JS/menu.js"></script>
	<script src="/JS/search.js"></script>
	<script src="/JS/add-car.js"></script>
	<script src="/JS/menu-scroll.js"></script>
	<script src="/bootstrap/jquery.slim.min.js"></script>
	<script src="/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>