<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:text="${TituloPagina}"></title>
	<link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
	<link rel="stylesheet" href="/CSS/productos.css">
	<link rel="stylesheet" href="/CSS/estilos.css">
	<link rel="stylesheet" href="/CSS/producto-vista.css">
</head>

<body>

	<header th:replace="/layout :: header"> </header>
    <main class="container">
        <div class="card-product">
            <div class="box-img">
                <img th:src="@{/ProductoImg/}+${urlImagen}" alt=""> 
                <!-- <img th:src="@{/UploadsImg/}+${urlImagen}" alt=""> -->
            </div>
            <section>
                <p class="product-title" th:text="${nombre}"></p>
                <p class="product-desc" th:text="${descripcion}"></p>
                <div class="product-price">
                    <span>S/</span><span th:text="${precio}"></span>
                </div>
                <button id="btn-add-car" th:data-id="${id}">  Añadir al carrito</button>
            </section>
        </div>

    </main>
    <footer class="footer">

        <section class="footer_container container">
            <nav class="nav nav--footer">
                <h2 class="footer_title">Sumaq</h2>

                <ul class="nav_link nav_link--footer">
                    <li class="nav_items1">
                        <a href="#" class="nav_links">Nosotros</a>
                    </li>
                    <li class="nav_items1">
                        <a href="#" class="nav_links">Ofecemos</a>
                    </li>
                    <li class="nav_items1">
                        <a href="#" class="nav_links" th:href="@{/categoria}">Categoria</a>
                    </li>
                    <li class="nav_items1">
                        <a href="#" class="nav_links" th:href="@{/Productos}">Productos</a>
                    </li>
                    <li class="nav_items1">
                        <a th:href="@{/usuario/listar}" class="nav_links">Usuarios</a>
                    </li>
                </ul>
            </nav>

            <form class="footer_form" >
                <h2 class="footer_newsletter">Registrese</h2>
                <div class="footer_inputs">
                    <input type="email" placeholder="Email:" class="footer_input" >
                    <input type="submit" value="Registrate" class="footer_submit">
                </div>
            </form>
        </section>

        <section class="footer_copy container">
            <div class="footer_social">
                <a href="https://www.instagram.com/sumaq.smaak/" target="_blank" class="footer_icons"><i class="fa-brands fa-instagram footer-icon"></i></a>
                <a href="https://www.facebook.com/people/Sumaq/100086236074527/" target="_blank" class="footer_icons"><i class="fa-brands fa-facebook footer-icon"></i></a>
                <a href="#" class="footer_icons"><i class="fa-brands fa-youtube footer-icon"></i></a>
            </div>

            <h3 class="footer_copyright">Derechos reservados &copy;</h3>
        </section>
        
    </footer>
    <script src="https://kit.fontawesome.com/0ab519a029.js" crossorigin="anonymous"></script>
	<script src="/JS/menu.js"></script>
	<script src="/JS/search.js"></script>
	<script src="/JS/add-car.js"></script>
	<script src="/JS/menu-scroll.js"></script>
	<script src="/bootstrap/jquery.slim.min.js"></script>
	<script src="/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>