@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-text:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

/*Header*/
.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 10;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100px;

    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.wave--bottom {
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave--top {
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}



/*Nav*/
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_title {
    font-weight: 300;
}

.nav_link {

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

.nav_logo {
    width: 100px;
    padding: 12px;
}

.logo {
    width: 100%;
    display: block;
    object-fit: cover;
}
/*Nav*/
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_title {
    font-weight: 300;
}

.nav_link {

    padding: 0;
    display: flex;
    align-items: center;


}

.nav_logo {
    width: 100px;
    padding: 12px;
}

.logo {
    width: 100%;
    display: block;
    object-fit: cover;
}

/*============== SEARCH ====================*/
.search_container {
    display: block;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(2, 2, 2, 0.849);
    position: absolute;
    top: 0;
    padding-top: 130px;
}

.search_container .search_box {
    margin-top: 150px;
    width: 600px;
    margin: auto;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(32, 32, 32, 0.534);
    border-radius: 10px;
}

.search_box form {
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: max-content 1fr max-content;
}

.search_box form button {
    padding: 10px;
    border: 1px solid rgb(254, 152, 0);
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(254, 152, 0);
    border-radius: 5px;
}

.search_box form button:hover {
    background-color: rgb(254, 152, 0);
    color: white;
}

.search_box input {
    width: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 5px;
    background-color: #4a4845;
    color: white;
}

.search_box input::placeholder {
    color: white;
}

.btn-search {
    border-radius: 50%;
    font-size: 1.3rem;
    padding: 10px;
    cursor: pointer;
}

.btn-shopping {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 10px;
}

#search_results {
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;

}

#search_results ul li a {
    margin: 10px 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
    background-color: rgba(2, 2, 2, 0.479);
    padding: 10;
    border-radius: 5px;
    text-decoration: none;
}

#search_results ul li a img {
    width: 200px;
    height: 150px;
    color: white;
}

#search_results ul li a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.result-title {
    font-size: 1.3rem;
    font-weight: bold;

}

.result-desc {
    font-size: 1.1rem;
}

.none-modal-search {
    display: none;
}

.nav_items {
    list-style: none;
    padding: 0px 20px;

}


.nav_items:nth-last-child(2) a {

    padding: 10px 30px;
    line-height: 50px;
    color: rgb(254, 152, 0);
    background: #fff;
    border: 1px solid rgb(254, 152, 0);
    border-radius: 25px;
    position: relative;

}

.nav_items:nth-last-child(2) a:hover {

    color: white;
    background: rgb(254, 152, 0);


}

.nav_links {
    color: #4a4845;
    text-decoration: none;
}

.nav_links:hover {
    color: rgb(254, 152, 0);
    transition: .3s all;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_close {
    display: var(--show, none);

}

.nav_img {
    display: block;
    width: 30px;

}


/*Hero Container*/

.hero_container {
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.hero_text {
    max-width: 800px;
    display: grid;
    grid-auto-rows: max-content;

    gap: 1em;
    padding-bottom: 100px;
    text-align: start;
    --padding-container: 0;
}

.hero_title {
    font-size: 3rem;
}

.hero_paragrahp {
    margin-bottom: 20px;
}

.hero_figure {
    max-width: 400px;

}

.hero_img {
    width: 100%;
    display: block;

    filter: drop-shadow(5px 10px 20px rgb(109, 109, 109));

}


.cta {
    display: inline-block;
    background-color: #ffcb45;
    justify-self: start;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

header.abajo {
    background-color: #fff;
}

header.abajo .nav_logo {
    width: 82px;
    padding: 8px;
}

header.abajo {
    box-shadow: 0 4px 25px -22px black;
}

header.abajo .logo,
header.abajo ul li a {
    color: black;
}

/*Nosotros*/

.nosotros {
    background-color: rgb(254, 152, 0);
}

.nosotros_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.subtitle {
    color: white;
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

.nosotros_texto {
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 1rem;
    color: white;
    font-size: 19px;
}

.nosotros_picture {
    grid-row: 2/1;
    max-width: 400px;
}

.nosotros_img {
    width: 100%;
    display: block;
}

.ofrecemos_container h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.ofrecemos {
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.ofrecemos_cont {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.ofrecemos_img {
    width: 100px;
}

/*Footer*/
.footer {
    background-color: #0b132b;
}

.footer-icon {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}

.footer_title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title,
.footer_newsletter {
    color: white;

}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link-footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input {
    background-color: white;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #ff6600;
    border: none;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.footer_copy {
    --padding-container: 30px 0;
    text-align: center;
    color: white;
}

.footer_copyright {
    font-weight: 300;
}

.footer_icons {
    margin-bottom: 10px;
}

.footer_img {
    width: 30px;
}

/*Media Queries*/
.nav_items1 {
    list-style: none;
    padding: 0px 20px;

}
.nav_items1:nth-last-child(2) a {

    padding: 0;
    line-height: 0;
    color: #b4b4b4;
    background: none;
    border:none;
    border-radius: 25px;


}

.nav_items1:nth-last-child(2) a:hover {
    color: rgb(254, 152, 0);
    background: none

}

.nav_links {
    color: #8f8f8f;
    text-decoration: none;
}

 /*Media Queries*/
@media (max-width:1200px) {
    .nav-options {
        display: flex;
        gap: 30px;
        align-items: center;
    }

    .btn-search {
        justify-self: flex-end;
    }

    .nav_menu {
        display: block;
    }

    .nav_link-menu {
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;

    }

    .nav_link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
        transition: .7s opacity;

    }

    .nav_close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title {
        font-size: 2.5rem;
    }

    .about_main {
        gap: 2em;
    }

    .nosotros_picture {

        max-width: 300px;
    }

    .nosotros_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5em;

    }

}

@media (max-width:800px) {
    .footer_container {
        flex-wrap: wrap;
    }

    .nav--footer {
        width: 100%;
        justify-items: center;

    }

    .nav_link--footer {
        width: 100%;
        justify-content: space-evenly;
        margin: 0;
    }

    .footer_form {
        width: 100%;
        justify-content: space-evenly;
    }

    .footer_input {
        flex: 1;

    }

  

}

@media (max-width:768px) {
    .hero {
        --wave-bottom: url('../img/wave-botom-header-movil.svg');
    }

    .hero_title {
        font-size: 1.8rem;
    }

    .hero_container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
        text-align: center;
        --padding-container: 10rem 0 0 0;

    }

    .hero_text {
        max-width: 800px;
        display: grid;
        grid-auto-rows: max-content;
        gap: 1em;
        padding-bottom: 0px;
        text-align: center;
        --padding-container: 0;
    }

    .hero_figure {
        justify-self: center;
        align-self: center;

    }

    .nosotros_texto {
        font-size: 14px;
        padding: 0;
    }
    .nav_link--footer {
        flex-wrap: wrap;
    }

}


@media (max-width:600px) {

    .footer_title {
        justify-self: start;
        margin: 15px;
    }

    .nav--footer {
        padding-bottom: 60px;
    }

    .nav_link--footer {
        justify-content: space-between;
    }

    .footer_inputs {
        flex-wrap: wrap;
    }

    .footer_input {
        flex-basis: 100%;
        margin: 0;
        margin-bottom: 16px;
    }

    .footer_submit {
        margin: 0;
        width: 100%;
    }
}