@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root {
    --padding-container: 100px 0;
    --color-text:
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--padding-container);
}

/*Header*/
.hero {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.5s;
    z-index: 10;
}

.wave {
    position: absolute;
    width: 100%;
    height: 100px;

    background-repeat: no-repeat;
    background-size: 100% 100px;
}

.wave--bottom {
    left: 0;
    bottom: 0;
    background-image: var(--wave-bottom);
}

.wave--top {
    left: 0;
    top: 0;
    background-image: var(--wave-top);
}



/*Nav*/
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_title {
    font-weight: 300;
}

.nav_link {

    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

.nav_logo {
    width: 100px;
    padding: 12px;
}

.logo {
    width: 100%;
    display: block;
    object-fit: cover;
}
/*Nav*/
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_title {
    font-weight: 300;
}

.nav_link {

    padding: 0;
    display: flex;
    align-items: center;


}

.nav_logo {
    width: 100px;
    padding: 12px;
}

.logo {
    width: 100%;
    display: block;
    object-fit: cover;
}

/*============== SEARCH ====================*/
.search_container{
    display: block;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background-color: rgba(2, 2, 2, 0.849);
    position: absolute;
    top: 0;
    padding-top: 130px;
}
.search_container .search_box{
    margin-top: 150px;
    width: 600px;
    margin: auto;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    background: rgba(32, 32, 32, 0.534);
    border-radius: 10px;
}
.search_box form{
    padding: 10px;
    display: grid;
    gap: 10px;
    grid-template-columns: max-content 1fr max-content;
}
.search_box form button{
    padding: 10px;
    border: 1px solid rgb(254, 152, 0);
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(254, 152, 0);
    border-radius: 5px;
}
.search_box form button:hover{
    background-color:rgb(254, 152, 0);
    color: white;
}
.search_box input{
    width: 100%;
    padding: 10px 10px;
    font-size: 1.4rem;
    font-weight: 300;
    border-radius: 5px;
    background-color: #4a4845;
    color: white;
}

.search_box input::placeholder{
    color: white;
}
.btn-search{
    border-radius: 50%;
    font-size: 1.6rem;
    padding: 10px;
}
#search_results{
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;

}
#search_results ul li a{
    margin: 10px 0;
    display: flex;
    gap: 10px;
    flex-direction: row;
    background-color:rgba(2, 2, 2, 0.479);
    padding: 10;
    border-radius: 5px;
    text-decoration: none;
}
#search_results ul li a img{
    width: 200px;
    height: 150px;
    color: white;
}
#search_results ul li a div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.result-title{
    font-size: 1.3rem;
    font-weight: bold;

}
.result-desc{
    font-size: 1.1rem;
}
.none-modal-search{
    display: none;
}

.nav_items {
    list-style: none;
    padding: 0px 20px;

}


.nav_items:nth-last-child(2) a {

    padding: 10px 30px;
    line-height: 50px;
    color: rgb(254, 152, 0);
    background: #fff;
    border: 1px solid rgb(254, 152, 0);
    border-radius: 25px;
    position: relative;

}

.nav_items:nth-last-child(2) a:hover {

    color: white;
    background: rgb(254, 152, 0);


}

.nav_links {
    color: #4a4845;
    text-decoration: none;
}

.nav_links:hover {
    color: rgb(254, 152, 0);
    transition: .3s all;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_close {
    display: var(--show, none);

}

.nav_img {
    display: block;
    width: 30px;

}


/*Hero Container*/

.hero_container {
    min-height: 85vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.hero_text {
    max-width: 800px;
    display: grid;
    grid-auto-rows: max-content;

    gap: 1em;
    padding-bottom: 100px;
    text-align: start;
    --padding-container: 0;
}

.hero_title {
    font-size: 3rem;
}

.hero_paragrahp {
    margin-bottom: 20px;
}

.hero_figure {
    max-width: 400px;

}

.hero_img {
    width: 100%;
    display: block;

    filter: drop-shadow(5px 10px 20px rgb(109, 109, 109));

}


.cta {
    display: inline-block;
    background-color: #ffcb45;
    justify-self: start;
    color: white;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

header.abajo {
    background-color: #fff;
}

header.abajo .nav_logo {
    width: 82px;
    padding: 8px;
}

header.abajo {
    box-shadow: 0 4px 25px -22px black;
}

header.abajo .logo,
header.abajo ul li a {
    color: black;
}

/*Nosotros*/

.nosotros {
    background-color: rgb(254, 152, 0);
}

.nosotros_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
    justify-items: center;
}

.subtitle {
    color: white;
    font-size: 45px;
    margin-bottom: 25px;
    text-align: center;
}

.nosotros_texto {
    line-height: 1.5;
    margin-bottom: 15px;
    padding: 1rem;
    color: white;
    font-size: 19px;
}

.nosotros_picture {
    grid-row: 2/1;
    max-width: 400px;
}

.nosotros_img {
    width: 100%;
    display: block;
}

.ofrecemos_container h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.ofrecemos {
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}

.ofrecemos_cont {
    display: grid;
    gap: 1em;
    justify-items: center;
    width: 260px;
    overflow: hidden;
    margin: 0 auto;
}

.ofrecemos_img {
    width: 100px;
}

/*Media Queries*/


@media (max-width:1200px) {
    .nav-options{
        display: flex;
        gap: 30px;
        align-items: center;
    }
    .btn-search{
        justify-self:flex-end;
    }
    .nav_menu {
        display: block;
    }

    .nav_link-menu {
        position: fixed;
        background-color: black;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;

    }

    .nav_link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
        transition: .7s opacity;

    }

    .nav_close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .hero_title {
        font-size: 2.5rem;
    }

    .about_main {
        gap: 2em;
    }

    .nosotros_picture {

        max-width: 300px;
    }

    .nosotros_container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 1.5em;

    }

}

@media (max-width:768px) {
    .hero {
        --wave-bottom: url('../img/wave-botom-header-movil.svg');
    }

    .hero_title {
        font-size: 1.8rem;
    }

    .hero_container {
        grid-template-columns: 1fr;
        grid-template-rows: max-content 1fr;
        gap: 1em;
        text-align: center;
        --padding-container: 10rem 0 0 0;

    }

    .hero_text {
        max-width: 800px;
        display: grid;
        grid-auto-rows: max-content;
        gap: 1em;
        padding-bottom: 0px;
        text-align: center;
        --padding-container: 0;
    }

    .hero_figure {
        justify-self: center;
        align-self: center;

    }

    .nosotros_texto {
        font-size: 14px;
        padding: 0;
    }



}

.footer {
    padding: 30px 0;
    background-color: #FDFDBD;
    padding-bottom: 15px;
}

.img-footer {
    width: 50px;
}

.logo-footer {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 20px;
}

.footer .redes {
    text-align: center;
    padding-bottom: 2px;
}

.footer .redes a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.fb {
    background: rgb(0, 132, 255);
    border-radius: 50px;
    color: white;
    padding: 3px;
}

.in {
    background: rgb(255, 0, 170);
    border-radius: 50px;
    color: white;
    padding: 3px;
}

.yt {
    background: rgb(255, 0, 0);
    border-radius: 50px;
    color: white;
    padding: 3px;
}

.text {
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
}

.footer .redes a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;

}

.container{
    width: 90%;
    max-width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav_title {
    font-weight: 300;
}

.nav_link {

    padding: 0;
    display: flex;
    align-items: center;


}

.nav_logo {
    width: 100px;
    padding: 12px;
}

.logo {
    width: 100%;
    display: block;
    object-fit: cover;
}

.nav_items {
    list-style: none;
    padding: 0px 20px;
}

#registro{
    color: white;
    border-radius: 20px;
    background: #23C8B4;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.formu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-back{
    background-color: white;
    padding: 5.6rem  2.5rem;
    border-radius: 20px 20px 20px 20px;
    box-shadow: -6px 7px 9px 2px rgba(0,0,0,0.51);
    -webkit-box-shadow: -6px 7px 9px 2px rgba(0,0,0,0.51);
    -moz-box-shadow: -6px 7px 9px 2px rgba(0,0,0,0.51);
}
.figura-formulario{
  max-width: 800px;
}

.logo-1{
    width:100%;
}

.zone{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.cont{
    margin-top: 7rem;
}
.titulo-zone{
    text-align: center;
}

.formu-img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ff6e0e;
    font-size: 30px;

}

form{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form .title{
    color: #ff6e0e;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 30px;

}

form label{
    margin-bottom: 35px;
}
form label .fa-solid{
    font-size: 20px;
    color: #23C8B4;
    margin-right: 10px;
}

form label input{
    outline: none;
    border: none;
    border-bottom: solid 1px #ff6e0e;
    color: black;
    font-size: 20px;
    padding: 0 5px;
    height: 2em;
    width: 20em;
}

form .link{
    color: #ff6e0e;
    margin-top: 5px;
    text-decoration: none;
}

form button{
    color: white;
    border-radius: 20px;
    background: #23C8B4;
    padding: 10px 15px;
    cursor: pointer;
    border: none;
    font-size: 20px;
}

.nav_menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav_close {
    display: var(--show, none);

}

.nav_img {
    display: block;
    width: 30px;

}
#registro a{
    text-decoration: none;
    color: white;
}

.footer {
    padding: 30px 0;
    background-color: #FDFDBD;
    padding-bottom: 15px;
}

.img-footer {
    width: 50px;
}

.logo-footer {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: -10px;
    padding-bottom: 20px;
}

.footer .redes {
    text-align: center;
    padding-bottom: 2px;
}

.footer .redes a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity:  0.75;
}

.fb {
    background: rgb(0, 132, 255);
    border-radius: 50px;
    color: white;
    padding: 3px;
}

.in{
    background: rgb(255, 0, 170);
    border-radius: 50px;
    color: white;
    padding: 3px;
}

.yt {
    background: rgb(255, 0, 0);
    border-radius: 50px;
    color: white;
    padding: 3px;
}

.text{
    text-align: center;
    font-size: 13px;
    padding-bottom: 10px;
}

.footer .redes a:hover {
    opacity: 0.9;
}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
   
}