:root{
    --color-main: rgb(238, 135, 0);
    --main-hover: rgb(190, 108, 0);
    --padding-container: 100px 0;
}

main .card-product{
    width: 70%;
    margin: auto;
    display: grid;
    gap: 30px;
    grid-template-columns: 300px 1fr;
    margin-top: 60px;
    padding: 10px;
    overflow: hidden;
}
main div .box-img{
    border-radius: 10px;
    width: 300px;
    height: 350px;
    background-color: white;
    overflow: hidden;
}
main div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 300ms ease-in-out;
}
main div .box-img > img:hover{
    transform: scale(1.2);
}
main div section .product-title{
    font-size: 2.5rem;
    color: #2d2d2d;
}
main div section .product-desc{
    font-size: 1.4rem;
    color: #2d2d2d;
    
}
main div section .product-price{
    font-size: 4rem;
}
#btn-add-car{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: var(--color-main);
    border: 1px solid var(--color-main);
    border-radius: 30px;
    color: white;
    font-size: 1.5rem;
    transition: 200ms ease-in-out;
}
#btn-add-car:hover{
    background-color: var(--main-hover);
    border: 1px solid var(--main-hover);
}
/*Footer*/
.footer {
    background-color: #1D293F;
}

.footer-icon {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
}

.footer_title {
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer_title,
.footer_newsletter {
    color: white;

}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    padding-bottom: 60px;
}

.nav--footer {
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}

.nav_link-footer {
    display: flex;
    margin: 0;
    margin-right: 20px;
    flex-wrap: wrap;
}

.footer_inputs {
    margin-top: 10px;
    display: flex;
    overflow: hidden;
}

.footer_input {
    background-color: white;
    height: 50px;
    display: block;
    padding-left: 10px;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    border: none;
    margin-right: 16px;
}

.footer_submit {
    margin-left: auto;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
    background-color: #ff6600;
    border: none;
    font-size: 1rem;
    color: white;
    border-radius: 6px;
    cursor: pointer;
}

.footer_copy {
    --padding-container: 30px 0;
    text-align: center;
    color: white;
}

.footer_copyright {
    font-weight: 300;
}

.footer_icons {
    margin-bottom: 10px;
}

.footer_img {
    width: 30px;
}

@media (max-width:877px) {
    main .card-product{
        width: 70%;
        margin: auto;
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr;
        margin-top: 40px;
        padding: 10px;
        overflow: hidden;
    }
    main .card-product .box-img{
        margin: auto;
    }
}