.list-all-products {
    margin-top: 30px;
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.card-product {
    /* min-width: 350px; */
    height: 340px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
}

.card-product img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.product-title {
    font-weight: 600;
    font-size: 1.2rem;
    text-align: center;
    color: rgb(72, 55, 11);
}

.product-price {
    font-size: 1.2rem;
    text-align: center;
}

.card-product div {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.card-product div button {
    padding: 10px 15px;
    background-color: white;
    border: 1px solid orange;
    color: orange;
    font-weight: bold;
    font-size: 0.9rem;
    border-radius: 30px;
    transition: all 200ms;
    cursor: pointer;
}

.card-product div button:hover {
    background-color: orange;
    color: white;

}