<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8">
<title>Insert title here</title>
    <link rel="stylesheet" href="/CSS/productos.css">
     <link rel="stylesheet" href="/CSS/estilos.css">
     <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
        <header class="hero" th:fragment="header">
        <nav class="nav container">
            <div class="nav_logo">
                <img src="/img/LogoSumaq.png" alt="" class="logo">
            </div>
            <ul class="nav_link nav_link-menu">
                <li class="nav_items">
                    <a href="#" class="nav_links">Nosotros</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Ofecemos</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links"  th:href="@{/Productos}">Productos</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Contactenos</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Pedir Aqui</a>
                </li>
                <img src="/img/close.svg" alt="" class="nav_close">
            </ul>

            <div class="nav_menu">
                <img src="/img/menu.svg" alt="" class="nav_img">

            </div>
        </nav>
    </header>
</body>
</html>