<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/CSS/productos.css">
    <link rel="stylesheet" href="/CSS/estilos.css">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>

<body>
    <header class="hero" th:fragment="header">
        <nav class="nav container">
            <a th:href="@{/}" class="nav_logo">
                <img src="/img/LogoSumaq.png" alt="" class="logo">
            </a>

            <ul class="nav_link nav_link-menu">
                <li class="nav_items">
                    <a href="#" class="nav_links">Nosotros</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Ofecemos</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links" th:href="@{/categoria}">Categoria</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links" th:href="@{/Productos}">Productos</a>
                </li>
                <li class="nav_items">
                    <a th:href="@{/usuario/listar}" class="nav_links">Usuarios</a>
                </li>
                <li class="nav_items">
                    <a th:href="@{/usuario/crear}" class="nav_links">Registrate</a>
                </li>
                <img src="/img/close.svg" alt="" class="nav_close">
            </ul>
            <button class="btn-search">&#x1F50E;</button>
            <div class="nav_menu">
                <img src="/img/menu.svg" alt="" class="nav_img">

            </div>
        </nav>
        <div class="search_container none-modal-search">
            <div class="search_box">
                <form>
                    <button type="submit">BUSCAR</button>
                    <input type="Search" class="input_search" placeholder="Busca un producto">
                    <button class="btn-modal-close">ESC</button>
                </form>
                <div id="search_results">
                    <ul>
                        <!-- <li>
                            <img src="/img/prueba.jpg" alt="img">
                            <div>
                                <p class="result-title">Mermelada naranja</p>
                                <p class="result-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <img src="/img/prueba.jpg" alt="img">
                            <div>
                                <p class="result-title">Mermelada naranja</p>
                                <p class="result-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <img src="/img/prueba.jpg" alt="img">
                            <div>
                                <p class="result-title">Mermelada naranja</p>
                                <p class="result-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <img src="/img/prueba.jpg" alt="img">
                            <div>
                                <p class="result-title">Mermelada naranja</p>
                                <p class="result-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                        </li>
                        <li>
                            <img src="/img/prueba.jpg" alt="img">
                            <div>
                                <p class="result-title">Mermelada naranja</p>
                                <p class="result-desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
                            </div>
                        </li> -->
                    </ul>
                </div>
            </div>
        </div>
    </header>
</body>

</html>