<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Insert title here</title>
    <link rel="stylesheet" href="/CSS/productos.css">
    <link rel="stylesheet" href="/CSS/estilos.css">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-uicons/css/uicons-[your-style].css" rel="stylesheet">
</head>

<body>
    <!-- ====================== Header usuarios ======================-->
    <header class="hero" th:fragment="header">
        <nav class="nav nav-container">
            <a th:href="@{/}" class="nav_logo">
                <img src="/img/LogoSumaq.png" alt="" class="logo">
            </a>

            <ul class="nav_link nav_link-menu">
                <li class="nav_items">
                    <a href="#" class="nav_links">Nosotros</a>
                </li>
                <li class="nav_items">
                    <a href="#" class="nav_links">Ofecemos</a>
                </li>
                <li class="nav_items">
                    <!-- <a href="#" class="nav_links" th:href="@{/categoria}">Categoria</a> -->
                    <a href="#" class="nav_links" >Categoria</a>
                </li>
                <li class="nav_items">
                    <a class="nav_links" th:href="@{/productos}">Productos</a>
                    <!-- <a href="#" class="nav_links" >Productos</a> -->
                </li>
                <li class="nav_items">
                    <a th:href="@{/usuario/crear}" class="nav_links">Registrate</a>
                </li>
                <img src="/img/close.svg" alt="" class="nav_close">
            </ul>
            <div class="nav-options">
                <span class="box-car">
                    <i class="fa-solid fa-cart-shopping btn-shopping btn-car">
                        <span class="car-count none-car-products"></span>
                    </i>
                    <!-- Productos del carrito -->
                    <section class="products-car none-car-products">
                        <div class="list-products-car">
                            <!-- Productos del carrito -->
                            
                        </div>
                    </section>
                </span>
                <!-- <button class="btn-search">&#x1F50E;</button> -->
                <i class="fa-solid fa-magnifying-glass btn-search">
                    
                </i>
                <div class="nav_menu">
                    <img src="/img/menu.svg" alt="" class="nav_img">
                </div>
            </div>
        </nav>
        <div class="search_container none-modal-search">
            <div class="search_box">
                <form id="form-search">
                    <button type="submit">BUSCAR</button>
                    <input type="Search" class="input_search" placeholder="Busca un producto">
                    <button class="btn-modal-close">ESC</button>
                </form>
                <div id="search_results">
                    <ul>

                    </ul>
                </div>
            </div>
        </div>
    </header>


   








    <script src="/JS/carrito-vista.js"></script>
</body>

</html>